@mixin input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-filter {
  background-color: var(--color-blue-light);
  font-size: var(--font-size-default);
  text-align: center;
  display: grid;
  &__search-box {
    border: 1px solid grey;
    &-state {
      @include input;
    }
    &-propertyType {
      @include input;
    }
    &-priceMin {
      @include input;
    }
    &-priceMax {
      @include input;
    }
    &-bedroomMin {
      @include input;
    }
    &-bedroomMax {
      @include input;
    }
    &-bathroomMin {
      @include input;
    }
    &-bathroomMax {
      @include input;
    }
    &-parkingMin {
      @include input;
    }
    &-parkingMax {
      @include input;
    }
    &-button {
      font-size: 2rem;
      color: var(--color-primary);
      margin: 1rem;
      padding: 5rem;
    }
  }
}
