@mixin input {
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-filter {
  min-height: 47.5vh;
  background-color: var(--color-blue-light);
  font-size: var(--font-size-default);
  text-align: center;
  &__search-box {
    border: 1px solid grey;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    & > * {
      @include input;
    }

    &-button {
      cursor: pointer;
      font-size: var(--font-size-default);
      color: var(--color-white);
      background-color: var(--color-primary-light);
      margin: 1rem auto;
      padding: 0.5rem 1rem;
      border-radius: 10px;
      &:hover {
        background-color: var(--color-primary);
      }
    }
  }
}
