.banner {
  height: 30vh;
  &-container {
    background-color: rgb(18, 191, 9);
    display: grid;
    grid-template-columns: auto 2fr;
    color: white;
    align-items: center;
    text-align: center;
    &-brand {
      color: white;
      font-weight: 600;
      font-size: 3rem;
      // padding: 1rem;
      margin: 0 15rem;
      cursor: pointer;
      &-link {
        color: white;
        text-decoration: none;
      }
    }
    &-nav {
      font-weight: 600;
      margin: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      &-link {
        &:hover {
          text-decoration: underline;
        }
      }
      @media only screen and (max-width: 1600px) {
        &-link {
          display: none;
        }
      }
    }
  }
}
.login {
  border-left: 1px solid white;

  &-white {
    color: white;
    text-decoration: none;
  }
}
.filter {
  color: white;
  text-decoration: none;
}
