.banner {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.4),
      rgba(255, 255, 255, 0.4)
    ),
    url("https://static.domain.com.au/content/web/residential/hero/homepage-12-optimised-desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 30vh;
  &-container {
    padding: 2rem;
    display: grid;

    grid-template-columns: auto 2fr;
    grid-template-rows: 1fr 1fr;
    color: white;
    align-items: center;
    text-align: center;
    &-brand {
      color: white;
      font-weight: 600;
      font-size: 3rem;
      // padding: 1rem;
      margin: 0 15rem;
      cursor: pointer;
      &-link {
        color: white;
        text-decoration: none;
      }
    }
    &-nav {
      font-weight: 600;
      margin: 2rem;
      display: grid;
      grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
      &-link {
        &:hover {
          text-decoration: underline;
        }
      }
      @media only screen and (max-width: 1600px) {
        &-link {
          display: none;
        }
      }
    }
  }
}
.login {
  border-left: 1px solid white;
  &-white {
    color: white;
  }
}
