@mixin whiteFontWithUnderline {
  color: var(--color-white);
  text-decoration: none;
  background-image: linear-gradient(
    120deg,
    transparent 0%,
    transparent 50%,
    var(--color-white) 50%
  );

  &:hover,
  &:active {
    background-position: 100%;
    color: var(--color-primary);
  }
  background-size: 240%;
  transition: all 0.4s;
}

.section-header {
  height: 15vh;
  z-index: 2000;
  &__nav {
    color: var(--color-white);
    background-color: var(--color-primary);
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center;
    text-align: center;
    &--brand {
      color: var(--color-white);
      font-weight: var(--font-weight-brand);
      font-size: var(--font-size-brand-primary);
      text-transform: uppercase;
      cursor: pointer;
      &-link {
        color: var(--color-white);
        text-decoration: none;
        display: flex;
        &--img {
          height: 10rem;
          width: 10rem;
          margin: 2rem 0 2rem 2rem;
        }
      }
    }
    &--navi {
      font-size: var(--font-size-link-primary);
      font-weight: var(--font-weight-brand);
      margin: 2rem;
      margin-left: auto;
      // display: grid;
      // grid-template-columns: repeat(3, 1fr);
      &-link {
        @include whiteFontWithUnderline;
        &--login {
          // border-left: 3px solid var(--color-white);
          &-white {
            @include whiteFontWithUnderline;
          }
        }
      }
      // @media only screen and (max-width: 1600px) {
      //   &-link {
      //     display: none;
      //   }
      // }
    }
  }
}

.wrapper {
  width: 5rem;
  height: 5rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  margin-right: 2rem;
  // position: relative;
  &-pic {
    height: 100%;
    width: 100%;
  }
}

.div-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}
