.result {
  border: 2px solid black;
  font-size: var(--font-size-default);
  margin: var(--margin-box-default);
  padding: var(--padding-box-default);
  background-color: var(--color-white);
  &-link {
    text-decoration: none;
    color: black;
  }
}

.contact-wrapper {
  width: 15rem;
  height: 15rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: relative;
  &-pic {
    height: 100%;
    width: 100%;
  }
}
.all_result {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: center;
  justify-content: center;
}
.comb {
  display: grid;
  grid-template-rows: 1fr 1fr;
  align-items: center;
  justify-content: center;
}

.contact__primary {
  border-left: 2px dotted black;
}
