.result {
  border: 2px solid black;
  border-radius: 10px;
  font-size: var(--font-size-default);
  margin: 5rem 15vw;
  padding: var(--padding-box-default);
  background-color: var(--color-white);
  &-link {
    text-decoration: none;
    color: black;
  }
}

.contact-wrapper {
  width: 15rem;
  height: 15rem;
  -webkit-shape-outside: circle(50% at 50% 50%);
  shape-outside: circle(50% at 50% 50%);
  -webkit-clip-path: circle(50% at 50% 50%);
  clip-path: circle(50% at 50% 50%);
  position: relative;
  &-pic {
    height: 100%;
    width: 100%;
  }
}
.all_result {
  display: grid;
  grid-template-columns: 2fr 1fr;
  align-items: center;
  justify-content: center;
}
.comb {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  & > * {
    margin: 1rem;
  }
}
.contact {
  display: flex;
  justify-content: space-evenly;
}
.contact__primary {
  border-left: 2px dotted black;
  padding: 5rem;
}
.property-img {
  margin-right: 5rem;
}
.property__primary {
  display: flex;
  justify-content: space-between;

  &-text {
    text-align: left;

    & > div {
      margin: 2rem 0;
    }
  }
}
.icon {
  margin-right: 1rem;
}
