.section-search {
  margin-top: -15vh;
  display: grid;
  grid-template-rows: 1fr 2fr;
  &__title {
    color: white;
    font-size: 2rem;
    font-weight: 700;
    text-align: center;
    grid-column: 1/-1;
  }
  &__box {
    text-align: center;
    margin: 1rem auto;
    padding: 3rem;
    border: 1px solid grey;
    border-radius: 3px;
    width: 50vw;
    height: 20vh;
    margin-top: -5vh;
    background-color: white;
    box-shadow: 0 1px 1px grey;
    &--nav {
      display: inline-block;
      padding: 0.5rem;
      float: left;
      font-weight: 600;
      cursor: pointer;
      &:hover {
        color: rgb(18, 191, 9);
      }
    }
    &--input {
      height: 8vh;
      width: 40vw;
      color: grey;
      padding: 1rem;
      font-size: 1.2rem;
      float: left;

      &:focus {
        outline: none;
        box-shadow: 0 1rem 2rem rgba(black, 0.1);
        border: 2px solid rgb(18, 191, 9);
      }
    }
    &--btn {
      color: white;
      background-color: rgb(18, 191, 9);
      float: right;
      height: 8.4vh;
      padding: 1.02rem;
      width: 6vw;
      font-size: 1.5rem;
      cursor: pointer;

      box-shadow: 0 1rem 2rem rgba(black, 0.1);
      transition: all 0.2s;
      &:hover {
        background-color: darken(rgb(18, 191, 9), 5%);
      }
    }
    &--recent {
      float: left;
      margin: 0.5rem;
      font-size: 1rem;
      color: grey;
      font-weight: 700;

      &-title {
        text-transform: uppercase;
        // background-color: aqua;
      }
      &-detail {
        display: grid;
        grid-gap: 1rem;
        grid-template-columns: 1fr 1fr;

        color: rgb(18, 191, 9);
        font-weight: 700;

        &-result {
          // background-color: red;
          border: 1px solid grey;
          padding: 1rem;
          margin: 0.5rem 0;
          &:hover {
            background-color: rgba(grey, 0.1);
          }
        }
      }
    }
  }
}
